.section-container{
    height: 100vh;
    background-color:rgb(223, 174, 110)
}
.section-container header{
    background-image: url("../images/art-ghana.jpg");
    min-height: calc(100vh - 40vh);
}
.section-container header h2 {
    color: white;
    text-align: center;
    padding-top: 10rem;
}
.actions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    margin-top: 3rem;
    padding-top: 2em;
}

.actions button{
    font-size: 18px;
    padding: 15px;
    border-radius:18px;
    background-color: red;
    transition: .5s ease;
}
.actions button:hover{
    font-size: 18px;
    padding: 15px;
    border-radius:18px;
    background-color: yellow;
}
.actions button a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}